images/test/images_frame1000.jpg
images/test/images_frame1000.json
images/test/images_frame1050.jpg
images/test/images_frame1050.json
images/test/images_frame1150.jpg
images/test/images_frame1150.json
images/test/images_frame1350.jpg
images/test/images_frame1350.json
images/test/images_frame1400.jpg
images/test/images_frame1400.json
images/test/images_frame2050.jpg
images/test/images_frame2050.json
images/test/images_frame2750.jpg
images/test/images_frame2750.json
images/test/images_frame3000.jpg
images/test/images_frame3000.json
images/test/images_frame3100.jpg
images/test/images_frame3100.json
images/test/images_frame3200.jpg
images/test/images_frame3200.json
images/test/images_frame3350.jpg
images/test/images_frame3350.json
images/test/images_frame3400.jpg
images/test/images_frame3400.json
images/test/images_frame3450.jpg
images/test/images_frame3450.json
images/test/images_frame3550.jpg
images/test/images_frame3550.json
images/test/images_frame4200.jpg
images/test/images_frame4200.json
images/test/images_frame4250.jpg
images/test/images_frame4250.json
images/test/images_frame4550.jpg
images/test/images_frame4550.json
images/test/images_frame4750.jpg
images/test/images_frame4750.json
images/test/images_frame4800.jpg
images/test/images_frame4800.json
images/test/images_frame4900.jpg
images/test/images_frame4900.json
images/test/images_frame5550.jpg
images/test/images_frame5550.json
images/test/images_frame7900.jpg
images/test/images_frame7900.json
images/test/images_frame8700.jpg
images/test/images_frame8700.json
images/test/images_frame8750.jpg
images/test/images_frame8750.json
images/test/images_frame9050.jpg
images/test/images_frame9050.json
images/test/images_frame9350.jpg
images/test/images_frame9350.json
images/test/images_frame9400.jpg
images/test/images_frame9400.json
images/test/images_frame9500.jpg
images/test/images_frame9500.json
images/test/images_frame9750.jpg
images/test/images_frame9750.json
images/test/images_frame9900.jpg
images/test/images_frame9900.json
images/train/images_frame1000.jpg
images/train/images_frame1000.json
images/train/images_frame10000.jpg
images/train/images_frame10000.json
images/train/images_frame10050.jpg
images/train/images_frame10050.json
images/train/images_frame10100.jpg
images/train/images_frame10100.json
images/train/images_frame10150.jpg
images/train/images_frame10150.json
images/train/images_frame10200.jpg
images/train/images_frame10200.json
images/train/images_frame10250.jpg
images/train/images_frame10250.json
images/train/images_frame10300.jpg
images/train/images_frame10300.json
images/train/images_frame1050.jpg
images/train/images_frame1050.json
images/train/images_frame1100.jpg
images/train/images_frame1100.json
images/train/images_frame1150.jpg
images/train/images_frame1150.json
images/train/images_frame1200.jpg
images/train/images_frame1200.json
images/train/images_frame1250.jpg
images/train/images_frame1250.json
images/train/images_frame1300.jpg
images/train/images_frame1300.json
images/train/images_frame1350.jpg
images/train/images_frame1350.json
images/train/images_frame1450.jpg
images/train/images_frame1450.json
images/train/images_frame1500.jpg
images/train/images_frame1500.json
images/train/images_frame1550.jpg
images/train/images_frame1550.json
images/train/images_frame1600.jpg
images/train/images_frame1600.json
images/train/images_frame1650.jpg
images/train/images_frame1650.json
images/train/images_frame1700.jpg
images/train/images_frame1700.json
images/train/images_frame1750.jpg
images/train/images_frame1750.json
images/train/images_frame1950.jpg
images/train/images_frame1950.json
images/train/images_frame2000.jpg
images/train/images_frame2000.json
images/train/images_frame2100.jpg
images/train/images_frame2100.json
images/train/images_frame2150.jpg
images/train/images_frame2150.json
images/train/images_frame2200.jpg
images/train/images_frame2200.json
images/train/images_frame2250.jpg
images/train/images_frame2250.json
images/train/images_frame2300.jpg
images/train/images_frame2300.json
images/train/images_frame2350.jpg
images/train/images_frame2350.json
images/train/images_frame2400.jpg
images/train/images_frame2400.json
images/train/images_frame2450.jpg
images/train/images_frame2450.json
images/train/images_frame2500.jpg
images/train/images_frame2500.json
images/train/images_frame2550.jpg
images/train/images_frame2550.json
images/train/images_frame2600.jpg
images/train/images_frame2600.json
images/train/images_frame2650.jpg
images/train/images_frame2650.json
images/train/images_frame2700.jpg
images/train/images_frame2700.json
images/train/images_frame2750.jpg
images/train/images_frame2750.json
images/train/images_frame2900.jpg
images/train/images_frame2900.json
images/train/images_frame2950.jpg
images/train/images_frame2950.json
images/train/images_frame3000.jpg
images/train/images_frame3000.json
images/train/images_frame3050.jpg
images/train/images_frame3050.json
images/train/images_frame3150.jpg
images/train/images_frame3150.json
images/train/images_frame3200.jpg
images/train/images_frame3200.json
images/train/images_frame3250.jpg
images/train/images_frame3250.json
images/train/images_frame3300.jpg
images/train/images_frame3300.json
images/train/images_frame3350.jpg
images/train/images_frame3350.json
images/train/images_frame3400.jpg
images/train/images_frame3400.json
images/train/images_frame3500.jpg
images/train/images_frame3500.json
images/train/images_frame3550.jpg
images/train/images_frame3550.json
images/train/images_frame3600.jpg
images/train/images_frame3600.json
images/train/images_frame3650.jpg
images/train/images_frame3650.json
images/train/images_frame3700.jpg
images/train/images_frame3700.json
images/train/images_frame3750.jpg
images/train/images_frame3750.json
images/train/images_frame3800.jpg
images/train/images_frame3800.json
images/train/images_frame3850.jpg
images/train/images_frame3850.json
images/train/images_frame3900.jpg
images/train/images_frame3900.json
images/train/images_frame3950.jpg
images/train/images_frame3950.json
images/train/images_frame4000.jpg
images/train/images_frame4000.json
images/train/images_frame4050.jpg
images/train/images_frame4050.json
images/train/images_frame4100.jpg
images/train/images_frame4100.json
images/train/images_frame4150.jpg
images/train/images_frame4150.json
images/train/images_frame4200.jpg
images/train/images_frame4200.json
images/train/images_frame4250.jpg
images/train/images_frame4250.json
images/train/images_frame4300.jpg
images/train/images_frame4300.json
images/train/images_frame4350.jpg
images/train/images_frame4350.json
images/train/images_frame4400.jpg
images/train/images_frame4400.json
images/train/images_frame4450.jpg
images/train/images_frame4450.json
images/train/images_frame4500.jpg
images/train/images_frame4500.json
images/train/images_frame4550.jpg
images/train/images_frame4550.json
images/train/images_frame4600.jpg
images/train/images_frame4600.json
images/train/images_frame4650.jpg
images/train/images_frame4650.json
images/train/images_frame4700.jpg
images/train/images_frame4700.json
images/train/images_frame4750.jpg
images/train/images_frame4750.json
images/train/images_frame4800.jpg
images/train/images_frame4800.json
images/train/images_frame4850.jpg
images/train/images_frame4850.json
images/train/images_frame4900.jpg
images/train/images_frame4900.json
images/train/images_frame4950.jpg
images/train/images_frame4950.json
images/train/images_frame5150.jpg
images/train/images_frame5150.json
images/train/images_frame5200.jpg
images/train/images_frame5200.json
images/train/images_frame5250.jpg
images/train/images_frame5250.json
images/train/images_frame5300.jpg
images/train/images_frame5300.json
images/train/images_frame5350.jpg
images/train/images_frame5350.json
images/train/images_frame5450.jpg
images/train/images_frame5450.json
images/train/images_frame5550.jpg
images/train/images_frame5550.json
images/train/images_frame5700.jpg
images/train/images_frame5700.json
images/train/images_frame5750.jpg
images/train/images_frame5750.json
images/train/images_frame5800.jpg
images/train/images_frame5800.json
images/train/images_frame6900.jpg
images/train/images_frame6900.json
images/train/images_frame6950.jpg
images/train/images_frame6950.json
images/train/images_frame7000.jpg
images/train/images_frame7000.json
images/train/images_frame7050.jpg
images/train/images_frame7050.json
images/train/images_frame7100.jpg
images/train/images_frame7100.json
images/train/images_frame7150.jpg
images/train/images_frame7150.json
images/train/images_frame7200.jpg
images/train/images_frame7200.json
images/train/images_frame7250.jpg
images/train/images_frame7250.json
images/train/images_frame7300.jpg
images/train/images_frame7300.json
images/train/images_frame7350.jpg
images/train/images_frame7350.json
images/train/images_frame7400.jpg
images/train/images_frame7400.json
images/train/images_frame7450.jpg
images/train/images_frame7450.json
images/train/images_frame7500.jpg
images/train/images_frame7500.json
images/train/images_frame7550.jpg
images/train/images_frame7550.json
images/train/images_frame7600.jpg
images/train/images_frame7600.json
images/train/images_frame7650.jpg
images/train/images_frame7650.json
images/train/images_frame7700.jpg
images/train/images_frame7700.json
images/train/images_frame7750.jpg
images/train/images_frame7750.json
images/train/images_frame7800.jpg
images/train/images_frame7800.json
images/train/images_frame7850.jpg
images/train/images_frame7850.json
images/train/images_frame7950.jpg
images/train/images_frame7950.json
images/train/images_frame8000.jpg
images/train/images_frame8000.json
images/train/images_frame8050.jpg
images/train/images_frame8050.json
images/train/images_frame8100.jpg
images/train/images_frame8100.json
images/train/images_frame8150.jpg
images/train/images_frame8150.json
images/train/images_frame8200.jpg
images/train/images_frame8200.json
images/train/images_frame8250.jpg
images/train/images_frame8250.json
images/train/images_frame8300.jpg
images/train/images_frame8300.json
images/train/images_frame8350.jpg
images/train/images_frame8350.json
images/train/images_frame8400.jpg
images/train/images_frame8400.json
images/train/images_frame8450.jpg
images/train/images_frame8450.json
images/train/images_frame8500.jpg
images/train/images_frame8500.json
images/train/images_frame8550.jpg
images/train/images_frame8550.json
images/train/images_frame8600.jpg
images/train/images_frame8600.json
images/train/images_frame8650.jpg
images/train/images_frame8650.json
images/train/images_frame8700.jpg
images/train/images_frame8700.json
images/train/images_frame8750.jpg
images/train/images_frame8750.json
images/train/images_frame8800.jpg
images/train/images_frame8800.json
images/train/images_frame8850.jpg
images/train/images_frame8850.json
images/train/images_frame8900.jpg
images/train/images_frame8900.json
images/train/images_frame8950.jpg
images/train/images_frame8950.json
images/train/images_frame900.jpg
images/train/images_frame900.json
images/train/images_frame9000.jpg
images/train/images_frame9000.json
images/train/images_frame9050.jpg
images/train/images_frame9050.json
images/train/images_frame9100.jpg
images/train/images_frame9100.json
images/train/images_frame9150.jpg
images/train/images_frame9150.json
images/train/images_frame9200.jpg
images/train/images_frame9200.json
images/train/images_frame9250.jpg
images/train/images_frame9250.json
images/train/images_frame9300.jpg
images/train/images_frame9300.json
images/train/images_frame9350.jpg
images/train/images_frame9350.json
images/train/images_frame9400.jpg
images/train/images_frame9400.json
images/train/images_frame9450.jpg
images/train/images_frame9450.json
images/train/images_frame950.jpg
images/train/images_frame950.json
images/train/images_frame9500.jpg
images/train/images_frame9500.json
images/train/images_frame9550.jpg
images/train/images_frame9550.json
images/train/images_frame9600.jpg
images/train/images_frame9600.json
images/train/images_frame9650.jpg
images/train/images_frame9650.json
images/train/images_frame9700.jpg
images/train/images_frame9700.json
images/train/images_frame9800.jpg
images/train/images_frame9800.json
images/train/images_frame9850.jpg
images/train/images_frame9850.json
images/train/images_frame9950.jpg
images/train/images_frame9950.json
images/val/images_frame10050.jpg
images/val/images_frame10050.json
images/val/images_frame1200.jpg
images/val/images_frame1200.json
images/val/images_frame1300.jpg
images/val/images_frame1300.json
images/val/images_frame1400.jpg
images/val/images_frame1400.json
images/val/images_frame1450.jpg
images/val/images_frame1450.json
images/val/images_frame1550.jpg
images/val/images_frame1550.json
images/val/images_frame2150.jpg
images/val/images_frame2150.json
images/val/images_frame2250.jpg
images/val/images_frame2250.json
images/val/images_frame2450.jpg
images/val/images_frame2450.json
images/val/images_frame2500.jpg
images/val/images_frame2500.json
images/val/images_frame2700.jpg
images/val/images_frame2700.json
images/val/images_frame3100.jpg
images/val/images_frame3100.json
images/val/images_frame3250.jpg
images/val/images_frame3250.json
images/val/images_frame3500.jpg
images/val/images_frame3500.json
images/val/images_frame3650.jpg
images/val/images_frame3650.json
images/val/images_frame3800.jpg
images/val/images_frame3800.json
images/val/images_frame4100.jpg
images/val/images_frame4100.json
images/val/images_frame4150.jpg
images/val/images_frame4150.json
images/val/images_frame4350.jpg
images/val/images_frame4350.json
images/val/images_frame4450.jpg
images/val/images_frame4450.json
images/val/images_frame4600.jpg
images/val/images_frame4600.json
images/val/images_frame4700.jpg
images/val/images_frame4700.json
images/val/images_frame4850.jpg
images/val/images_frame4850.json
images/val/images_frame5200.jpg
images/val/images_frame5200.json
images/val/images_frame5500.jpg
images/val/images_frame5500.json
images/val/images_frame5700.jpg
images/val/images_frame5700.json
images/val/images_frame5750.jpg
images/val/images_frame5750.json
images/val/images_frame7000.jpg
images/val/images_frame7000.json
images/val/images_frame7050.jpg
images/val/images_frame7050.json
images/val/images_frame7350.jpg
images/val/images_frame7350.json
images/val/images_frame7450.jpg
images/val/images_frame7450.json
images/val/images_frame7500.jpg
images/val/images_frame7500.json
images/val/images_frame7550.jpg
images/val/images_frame7550.json
images/val/images_frame7900.jpg
images/val/images_frame7900.json
images/val/images_frame7950.jpg
images/val/images_frame7950.json
images/val/images_frame8050.jpg
images/val/images_frame8050.json
images/val/images_frame8200.jpg
images/val/images_frame8200.json
images/val/images_frame8300.jpg
images/val/images_frame8300.json
images/val/images_frame8500.jpg
images/val/images_frame8500.json
images/val/images_frame8650.jpg
images/val/images_frame8650.json
images/val/images_frame9250.jpg
images/val/images_frame9250.json
images/val/images_frame9300.jpg
images/val/images_frame9300.json
images/val/images_frame9450.jpg
images/val/images_frame9450.json
images/val/images_frame9700.jpg
images/val/images_frame9700.json
images/val/images_frame9750.jpg
images/val/images_frame9750.json
images/val/images_frame9800.jpg
images/val/images_frame9800.json
images/val/images_frame9900.jpg
images/val/images_frame9900.json
.ipynb_checkpoints/Entrenamiento_paso_a_paso_bb-checkpoint.ipynb
.ipynb_checkpoints/Entrenamiento_paso_a_paso_maks-checkpoint.ipynb
